
.grid {
    display: grid;
    grid-template-columns: 20% 60% 20%;
  }
  
  .leftBar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 15px;
     
  }
  
  .comunidades{
    display: flex;
    flex-direction: row;
    color: var(--color-text);
    align-items:center;
    justify-content: flex-start;
    padding: 10px;
    
  }
  
  .comunidades img{
    max-width: 30px;
    height: 30px;
  }
  
  
  .centerBar {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .rightBar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 15px;
  }
  
  .amizades{
    display: flex;
    flex-direction: row;
    color: var(--color-text);
    align-items:center;
    justify-content: flex-start;
    padding: 10px;
  }
  
  .amigos img{
    max-width: 30px;
    height: 30px;
  }
  
  .disponivel{
    max-width: 7px;
    height: 7px;
    
  }
  