/* 1 */





:root {
  --font-color: #333;
  --background-color: #eee;
  --link-color: cornflowerblue;




  /*Light*/
  --b-g: #ebebeb;
  --bg-card: #fff;
  --border-color: lightgray;
  --bg-header: #ff9090;
  --color-text: #262223;
  --color-paragraph: #260216;
  --color-details: #C8D948;
  --color-button: #6FC5D2;
  --logo-src: url("./Assets/Logo.png");


}

/* 2 */
[data-theme="dark"] {
  --b-g: #202125;
  --bg-card: #4D3D93;
  --border-color: lightgray;
  --bg-header: #914BBA;
  --color-text: #F2E0DF;
  --color-paragraph: #ebebeb;
  --color-details: #F22E2E;
  --color-button: #C8D948;
  --logo-src: url("./Assets/LogoDark.png");
}

/* 3 */
body {
  background-color: var(--b-g);
  color: var(--color-text);
}



